In [1]:
import pandas as pd

In [2]:
data_file_path = '/Users/lynnpowell/Documents/DS_Projects/Mens NCAA_Basketball_Data/MDataFiles_Stage2/'
df_massey = pd.read_csv(data_file_path+'MMasseyOrdinals.csv')

In [3]:
df_copy = df_massey.copy()

In [26]:
df = df_copy[df_copy['RankingDayNum'] == 133]
df.head()

        Season  RankingDayNum SystemName  TeamID  OrdinalRank
121021    2003            133         AP    1112            2
121022    2003            133         AP    1163           23
121023    2003            133         AP    1166           15
121024    2003            133         AP    1173           16
121025    2003            133         AP    1181            7

In [28]:
df.shape

(291433, 5)

In [18]:
df['SystemName'].value_counts().head(20)

MOR    5833
WOL    5833
SAG    5833
RTH    5833
POM    5830
WLK    5830
DOL    5829
COL    5828
CNG    5503
BIH    5486
WOB    5479
RPI    5473
SEL    5145
DOK    4850
WIL    4845
PIG    4843
BOB    4778
DUN    4475
MAS    4475
DC     4470
Name: SystemName, dtype: int64

In [14]:
df['SystemName'].unique()

array(['AP', 'ARG', 'BIH', 'BOB', 'BRZ', 'COL', 'DOL', 'DUN', 'DWH',
       'ECK', 'ENT', 'ERD', 'GRN', 'GRS', 'HER', 'HOL', 'IMS', 'MAS',
       'MKV', 'MOR', 'POM', 'RPI', 'RTH', 'SAG', 'SAU', 'SE', 'SEL',
       'STR', 'TSR', 'USA', 'WLK', 'WOB', 'WOL', 'WTE', 'BD', 'CNG',
       'DES', 'JON', 'LYN', 'MGY', 'NOR', 'REI', 'RM', 'SIM', 'ACU',
       'BCM', 'CMV', 'DC', 'KLK', 'REN', 'RIS', 'ROH', 'SAP', 'SCR',
       'WIL', 'DOK', 'JCI', 'KPK', 'MB', 'PH', 'PIG', 'PKL', 'TRX', 'CPR',
       'ISR', 'KRA', 'LYD', 'RTR', 'UCS', 'BKM', 'CPA', 'JEN', 'PGH',
       'REW', 'RSE', 'SPW', 'STH', 'BPI', 'DC2', 'DCI', 'HKB', 'LMC',
       'NOL', 'OMY', 'RTB', 'KEL', 'KMV', 'RT', 'TW', 'AUS', 'KOS', 'PEQ',
       'PTS', 'ROG', 'RTP', 'TMR', '7OT', 'ADE', 'BBT', 'BNM', 'BUR',
       'CJB', 'CRO', 'EBP', 'HAT', 'MSX', 'SFX', 'TBD', 'BLS', 'D1A',
       'DII', 'KBM', 'TPR', 'MvG', 'PPR', 'SP', 'SPR', 'STF', 'STS',
       'TRP', 'UPS', 'WMR', 'BWE', 'LOG', 'TRK', 'DAV', 'FAS', 'FSH',
       'HAS', 'HRN', 'KPI', 'MCL', 'CRW', 'DDB', 'ESR', 'FMG', 'HKS',
       'INP', 'JNG', 'JRT', 'MUZ', 'OCT', 'PMC', 'PRR', 'RSL', 'SGR',
       'SMN', 'SMS', 'YAG', 'ZAM', 'BNT', 'COX', 'JJK', 'LAB', 'MMG',
       'STM', 'WMV', 'AWS', 'INC', 'LAW', 'LEF', 'MGS', 'NET', 'PIR'],
      dtype=object)

In [23]:
#Using CNG and POM
df_massey = df[(df['SystemName'] == 'CNG') | (df['SystemName'] == 'POM')]
df_massey.head()

        Season  RankingDayNum SystemName  TeamID  OrdinalRank
127259    2003            133        POM    1102          160
127260    2003            133        POM    1103          163
127261    2003            133        POM    1104           33
127262    2003            133        POM    1105          307
127263    2003            133        POM    1106          263

In [24]:
df_massey['SystemName'].value_counts()

POM    5830
CNG    5503
Name: SystemName, dtype: int64

In [29]:
df_massey.shape

(11333, 5)

In [30]:
#Save M Massey file with just the System Name of CNG and POM
df_massey.to_csv(data_file_path+'MMasseyProdinals_133_CNG_POM.csv', index = False)